<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/styles.css">

    <title>CSO LOGS VISUALIZATION</title>
</head>
<body>

  <!-- NAV BAR -->
  <header>
    <div class="topnav" id="myTopnav">
        <a href="{{url_for('home_page')}}" class="active"><img src="static/download.png" height="55px"></a>

          <!-- MENU BUTTONS (VERY OPTIONAL) -->

          <!-- <div class="topnav-right">
              <a href="">Menu 1</a>
              <a href="">Menu 2</a>
            </div>-->
          </div>

          <hr>

</header>

<!-- MAIN CONTENT -->

<main class="main">

    <div>

        <center><p5>CSO LOGS VISUALIZATION</p5><br><br>
        
        <div style="width: 100%;">
        <div class="div-left">
        <p>(1) Please select a one Y-Value from the CSV file, which you wish to Visualize:</p>
        <form action="{{ url_for('final_visualization2') }}" method="GET">
            <br><select id="y_value" name="y_value">
              {% for columns in col_2: %}
                  <option value="{{ columns }}">{{ columns }}</option>
              {% endfor %}
            </select>
              <button type="submit">Submit</button>
          </form>
        <br><br><p>(2) Please click the button below if you wish to visualize all Y-Values:</p>
        <form action="{{ url_for('final_visualization_all2')}}" method="get">
          <button type="submit">Visualize all Y-Values (Sites)</button>
      </form>
    </div>


</main>



<hr>
<hr>
<hr>
<hr>
<hr>
<hr>

<!-- FOOTER -->

<footer class="footer">
    <div class="footer__addr">
    <img src="{{url_for('static', filename='download.png')}}" height="100px">

    </div>

    <ul class="footer__nav">
      <li class="nav__item nav__item--extra">
        <h2 class="nav__title">SMS Global Technologies Inc</h2>

        <!-- <ul class="nav__ul">
          <li>
            <a href="#">About Us</a>
          </li>

          <li>
            <a href="#">Services</a>
          </li>

          <li>
            <a href="#">Solutions</a>
          </li>

          <li>
            <a href="#">Careers</a>
          </li>
        </ul>
      </li> -->


      <li class="nav__item">
        <h2 class="nav__title">CSO LOGS VISUALIZATION APP</h2>

        <ul class="nav__ul">
          <li>
            <a href="FAQ.html">FAQ</a>
          </li>

          <li>
            <a href="PrivacyPolicy.html">Privacy Policy</a>
          </li>

          <li>
            <a href="TermsOfUse.html">Terms of Use</a>
          </li>

        </ul>
      </li>

      <li class="nav__item">
        <h2 class="nav__title">Contact Us</h2>

        <ul class="nav__ul">
          <li>
            East Tower Philippine Stock Center Exchange 1605, Exchange Rd, Ortigas Center, Pasig
          </li>

          <li>
            (+63) 9178009847
          </li>

          <li>
            (+63) 9363392851
          </li>
        </ul>
      </li>
    </ul>

    <div class="legal">
        &copy; 2023 All rights reserved.

    </div>
  </footer>

  </body>
  </html>
