<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/styles.css">

    <title>FAQ</title>
</head>
<body>

      <!-- NAV BAR -->
<header>
    <div class="topnav" id="myTopnav">
        <a href="index.html" class="active"><img src="images/logo.png" height="55px"></a>

        <!-- MENU BUTTONS (VERY OPTIONAL) -->

        <!-- <div class="topnav-right">
            <a href="">Menu 1</a>
            <a href="">Menu 2</a>
          </div>-->
      </div>
      
      <hr>

</header>

<!-- MAIN CONTENT -->

<main class="main">

    <center><p5>Frequently Asked Questions</p5></center><br><br>

    <p6>Question:</p6><br>
    <p7>Answer:</p7><br><br>

    <p6>Question:</p6><br>
    <p7>Answer:</p7><br><br>

    <p6>Question:</p6><br>
    <p7>Answer:</p7><br><br>

    <p6>Question:</p6><br>
    <p7>Answer:</p7><br><br>

    <p6>Question:</p6><br>
    <p7>Answer:</p7><br><br>

    
</main>

<!-- FOOTER -->
      
<footer class="footer">
    <div class="footer__addr">
    <img src="images/logo.png" height="100px">
  
    </div>
    
    <ul class="footer__nav">
      <li class="nav__item nav__item--extra">
        <h2 class="nav__title">iMadz Solutions and Technologies Inc</h2>
  
        <!-- <ul class="nav__ul">
          <li>
            <a href="#">About Us</a>
          </li>
  
          <li>
            <a href="#">Services</a>
          </li>
              
          <li>
            <a href="#">Solutions</a>
          </li>
  
          <li>
            <a href="#">Careers</a>
          </li>
        </ul>
      </li> -->
      
  
      <li class="nav__item">
        <h2 class="nav__title">Web Scraper Automation</h2>
        
        <ul class="nav__ul">
          <li>
            <a href="FAQ.html">FAQ</a>
          </li>
  
          <li>
            <a href="PrivacyPolicy.html">Privacy Policy</a>
          </li>
  
          <li>
            <a href="TermsOfUse.html">Terms of Use</a>
          </li>
          
        </ul>
      </li>
      
      <li class="nav__item">
        <h2 class="nav__title">Contact Us</h2>
        
        <ul class="nav__ul">
          <li>
            1639 ADB Avenue, Ortigas, Pasig City
          </li>
          
          <li>
            (+63) 9171474783
          </li>
          
          <li>
            (+63) 9363392851
          </li>
        </ul>
      </li>
    </ul>
    
    <div class="legal">
        &copy; 2022 All rights reserved.
      
    </div>
  </footer>
  
  </body>
  </html>