
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

    <title>Web Scraper Automation - Yellow Pages PH</title>
</head>
<body>

       <!-- NAV BAR -->
<header>
  <div class="topnav" id="myTopnav">
      <a href="index.html" class="active"><img src="{{url_for('static', filename='logo.png')}}" height="55px"></a>

      <!-- MENU BUTTONS (VERY OPTIONAL) -->

      <!-- <div class="topnav-right">
          <a href="">Menu 1</a>
          <a href="">Menu 2</a>
        </div>-->
    </div>

    <hr>

</header>

<!-- MAIN CONTENT -->

<main class="main">

<div>
    <p3><center>Web Scraper Automation for Business List PH</center></p3>

    <hr>
</div>

<div style="width: 100%;">
    <div class="div-left">
      <p>The category that you've selected has {{ nmberofpges }} number of pages.</p>
      <p>Please fill up the form with your desired page extent value that you would like to scrape; the scraping starts from page 1.</p>
        <form action="#" method="POST">
          <div>
            <h3><input type="text" name="extent"</type></h3>
            <h3><button type="submit">Submit</button></h3>
          </div>
        </form>
    </div>


    <div class="div-right" align="center">
        <img src="{{url_for('static', filename='pnc.gif')}}" height="350px">
    </div>
</div>

</main>

<hr>
<hr>
<hr>
<hr>
<hr>
<!-- FOOTER -->

<footer class="footer">
  <div class="footer__addr">
  <img src="{{url_for('static', filename='logo.png')}}" height="100px">

  </div>

  <ul class="footer__nav">
    <li class="nav__item nav__item--extra">
      <h3 class="nav__title">iMadz Solutions and Technologies Inc</h3>

      <!-- <ul class="nav__ul">
        <li>
          <a href="#">About Us</a>
        </li>

        <li>
          <a href="#">Services</a>
        </li>

        <li>
          <a href="#">Solutions</a>
        </li>

        <li>
          <a href="#">Careers</a>
        </li>
      </ul>
    </li> -->


    <li class="nav__item">
      <h3 class="nav__title">Web Scraper Automation</h3>

      <ul class="nav__ul">
        <li>
          <a href="FAQ.html">FAQ</a>
        </li>

        <li>
          <a href="PrivacyPolicy.html">Privacy Policy</a>
        </li>

        <li>
          <a href="TermsOfUse.html">Terms of Use</a>
        </li>

      </ul>
    </li>

    <li class="nav__item">
      <h3 class="nav__title">Contact Us</h3>

      <ul class="nav__ul">
        <li>
          1639 ADB Avenue, Ortigas, Pasig City
        </li>

        <li>
          (+63) 9171474783
        </li>

        <li>
          (+63) 9363392851
        </li>
      </ul>
    </li>
  </ul>

  <div class="legal">
      &copy; 2022 All rights reserved.

  </div>
</footer>

</body>
</html>
